.footerContainer {
  display: flex;
  flex-direction: column;
  background-color: #555;
  color: #bbb;
  line-height: 1.5;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.footerContainer a {
  text-decoration: none;
  color: #eee;
}

.footerContainer ul {
  list-style: none;
  padding-left: 0;
}

.footerContainer a:hover {
  text-decoration: underline;
}

.footerTitle {
  font-family: 'Gill Sans', serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}

.footerMain {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 0px;
}

.footerMainItem {
  min-width: 12.5rem;
}

.logo {
  margin: 3.125rem;
  margin-bottom: 0px;
}

.description {
  font-family: 'Dancing Script', cursive;
  font-weight: bolder;
  font-size: 1.25rem;
  text-align: center;
  margin: 0;
}

/* SOCIAL */
.footerSocial {
  padding: 0.938rem 1.875rem 1.25rem;
}

.footerSocialList {
  display: flex;
  justify-content: center;
  border-top: 0.063rem #777 solid;
  padding-top: 1.25rem;
}

.footerSocialList li {
  margin: 0.625rem;
  margin-bottom: -0.625rem;
}

/* POLICY*/
.footerPolicy {
  padding: 0.938rem 1.875rem;
  background-color: #333;
}

.footerPolicy img {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.footerPolicy a {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

/* MAP */
.footerMainItem iframe {
  border: 0.188rem solid black;
}
