.mainPageContainer {
    display: flex;
    flex-direction: row;
    padding-left: 10rem;
    padding-right: 10rem;
    min-height: 100vh;
    margin-bottom: -10rem;
}

.mainPageContainer img {
    border: 0.5rem outset black;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 1);
}

.mainTextContainer {
    padding-top: 4rem;
    padding-left: 14rem;
    text-align: right;
}

.mainTextContainer p {
    font-family: 'Kalam', cursive;
    font-size: 2rem;
    text-align: center;
    line-height: 4rem;
}

.mainTextContainer h1 {
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    font-size: 6rem;
    text-align: center;
    margin: 0;
    letter-spacing: 0.5rem;
    text-shadow: 0.1rem 0.1rem 0.1rem grey, 0.2rem 0.2rem 0.1rem grey;
}

.mainTextContainer h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

.mainTextContainer a {
    font-size: 1.5625rem;
    text-decoration: none;
    color: #03045e;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mainTextContainer a:hover {
    color: #003566;
    transition: color 0.2s ease-in-out;
}

.hr {
    border: 0.4rem solid #e3b68f;
}

/* Estilos para tratamientosMain */
.tratamientosMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 35rem;
    padding-right: 24rem;
}

.tratamientosMain img {
    border: 0.3rem solid transparent;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 1);
    transition: opacity 0.5s ease 0s;
}

.tratamientosElement {
    display: flex;
    flex-direction: column;
    padding-right: 10rem;
}

.tratamientosElement button {
    position: absolute;
    margin-left: -26.5rem;
    margin-top: 18rem;
    border: 0.3rem solid transparent;
    padding: 0.5rem;
    font-size: 1.5rem;
    color: green;
    font-weight: bolder;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 1);
    cursor: pointer;
    font-size: 0.9375rem;
}

.tratamientosMain img:hover {
    border-color: black;
    opacity: 0.7;
}

.mainServices h2 {
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    font-size: 5rem;
    text-align: center;
    letter-spacing: 0.3rem;
    text-shadow: 0.05rem 0.05rem 0.05rem grey, 0.1rem 0.1rem 0.05rem grey;
    margin-top: 3.125rem;
    margin-bottom: 0.625rem;
}

.mainServices h3 {
    font-family: 'Fjalla One', sans-serif;
    margin-bottom: -0.625rem;
    font-size: 1.5625rem;
}

.mainServices p {
    text-align: justify;
    font-family: 'Crimson Text', serif;
    font-size: 1.5rem;
}

.mainServices a {
    margin-top: 3.75rem;
    font-size: 1.5625rem;
    text-decoration: none;
    color: #03045e;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mainServices a:hover {
    color: #003566;
    transition: color 0.2s ease-in-out;
}
